@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dark body {
    background-image: linear-gradient(to bottom, transparent 90%, #171717 10%),
        linear-gradient(to right, #171717 90%, #2e2e2e 10%);
    background-size:
        5px 5px,
        5px 5px;
}

.light body {
    background-image: linear-gradient(to bottom, transparent 90%, #a1a1aa 10%),
        linear-gradient(to right, #f4f4f5 90%, #a1a1aa 10%);
    background-size:
        5px 5px,
        5px 5px;
}
