---

---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Specta</title>
  </head>
  <body class="h-full w-full">
    <div class="mt-32 sm:mt-28">
      <div class="mx-auto max-w-7xl px-6 lg:px-8 flex">
        <div class="mx-auto max-w-3xl sm:text-center">
          <h1
            class="mt-2 text-center text-4xl sm:text-6xl font-bold tracking-tight text-gray-900"
          >
            Specta
          </h1>
          <p
            class="mt-2 mb-20 text-center text-xl sm:text-3xl tracking-tight text-gray-900"
          >
            Rust crates for building better webapps.
          </p>

          <div class="flex w-full">
            <div>
              <img src="/logo.png" alt="Specta Logo" class="max-w-68" />
              <h2
                class="mt-2 mb-2 text-center text-xl sm:text-3xl tracking-tight text-gray-900"
              >
                Specta
              </h2>
              <p>Export your Rust types!</p>
            </div>

            <div>
              <img src="/rspc-logo.png" alt="rspc Logo" class="max-w-72" />
              <h2
                class="mt-2 mb-2 text-center text-xl sm:text-3xl tracking-tight text-gray-900"
              >
                rspc
              </h2>
              <p>A framework for building typesafe web backends in Rust</p>
            </div>

            <div>
              <img src="/logo.png" alt="Tauri Specta Logo" class="max-w-68" />
              <h2
                class="mt-2 mb-2 text-center text-xl sm:text-3xl tracking-tight text-gray-900"
              >
                Tauri Specta
              </h2>
              <p>Completely typesafe Tauri commands</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
